<!-- <div class="container">
            <h5>Componentes que pueden estar fallando:</h5>
            <ul class="list-group">
                <li *ngFor="let componente of componentes">{{componente.nombre}}</li>
            </ul>
        </div> -->


<!-- <div class="container">
    <h1>Sistema Experto en Angular</h1>
</div>
<hr>
<form [formGroup]="myform" (ngSubmit)="getData(form_template)" #form_template="ngForm">

    <div class="container">

        <label for="floatingInput">Problema:</label>
        <select class="form-select" formControlName="problema" [(ngModel)]="selectedOption">
            <option selected [value]="0">Seleccione el problema...</option>
            <option *ngFor="let problema of problemasDisco" [value]="problema.id">{{problema.desc}}</option>
        </select>
        <br>
        <label for="floatingInput">Descripción del problema:</label>

        <div >
            <select class="form-select" formControlName="problema" [(ngModel)]="selectedDesc">
                <option selected>Seleccione el problema...</option>
                <option *ngFor="let problema of descripciones" [value]="problema.id">{{problema.desc}}</option>
            </select>
        </div>

        <br>
        

    </div>
    <hr>

    <div class="container" *ngFor="let item of solucionesP">
        <h1>Problema asociado al componente {{item.name}}</h1>
        <img src="{{item.img}}" class="im"><br>
        <label for="exampleFormControlTextarea1" class="form-label">Solucion: </label>
        <ul *ngFor="let item2 of item.sols">
            <li >
                {{item2}}
            </li>
        </ul>
        
    </div>

</form> -->
<app-experto></app-experto>