<div class="container">
    <h1>Sistema Experto en Angular</h1>
</div>
<hr>
<form [formGroup]="myform" (ngSubmit)="getData(form_template)" #form_template="ngForm">

    <div class="container">
        <label for="floatingInput">Problema:</label>
        <select class="form-select" formControlName="problema">
        <option selected>Seleccione el problema...</option>
        <option *ngFor="let problema of problemasDisco">{{problema.desc}}</option>
        </select>
        <br>
        <button type="submit" class="btn btn-warning">Consultar</button>
        <hr>
        <div class="container">
            <h5>Componentes que pueden estar fallando:</h5>
            <ul class="list-group">
                <li *ngFor="let componente of componentes">{{componente.nombre}}</li>
            </ul>
        </div>
    </div>
    <hr>
    
    <div class="container">
        <label for="exampleFormControlTextarea1" class="form-label">Solucion: </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

</form>